@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

@import "fileuploader";

$item-width: 850px;

body {
  padding: 20px;
  color: #444;
  font-family: 'lucida grande', 'arial', 'verdana';
  font-size: 14px;
  font-weight: normal;
}

h1 {
  @include text-shadow;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

p {
  margin: 10px 0px;
  line-height: 1.3em;
}

div.spec {
  display: none;
  background-color: #eee;
  padding: 20px 20px;
}

.form {
  margin-bottom: 20px;
}

ul.assets {
  width: $item-width;

  li {
    @include border-radius(5px);
    background-color: #eee;
    padding: 10px 10px;
    margin-bottom: 10px;

    label {
      color: #777;
    }

    .url a {
      font-size: 12px;
    }

    a.delete, a.cancel_upload {
      float: right;
      position: relative;
      top: -20px;
    }
  }
}

.item_template {
  display: none;
}

